.navbar {
    background-color: #2992d0;
    transition: transform 0.3s ease;
 }

 .navbar a:active {
    transform: scale(0.95);
  }

  .navbar a:hover {
    background-color: #28306a;
    /*color: #28306a; */
    color: white;
    border-radius: 6px;
  }
  .navbar .account:hover {
    background-color: #f8f8f8;
    /*color: #28306a; */
    color: white;
    border-radius: 6px;
  }

.navbar li {
    padding: 4px;
}

@media (max-width: 767px) {
    .sidebar, .ranking-table {
      display: none;
    }
  }

  @media (max-width: 430px) {
    .sidebar, .ranking-table, .notification, .card-footer a span {
      display: none;
    }
    .little-main {
        width: 100%;
    }
  }

  @media only screen and (max-device-width: 853) {
    .sidebar {
    
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

    }

  }

  .main {
    display: flex;
    flex: 1;
  }

  .sidebar {
    flex: 1 1 20% ;
  }

  .btn-group {
    margin: 4px;
    display: inline-block;
    justify-content: center;
    flex: 2 2 60%;
  }

 .ranking-table  {
    flex: 1 1 30%;
    align-self: flex-start;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
 }

 .ranking-table * {
    text-align: center;
 }
 
 .little-main {
    display: flex;
    flex-direction: column;
 }

.footer {
    background-color: #28306a;
}

.noti-content {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.card a {
  text-decoration: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
}